{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="container">
        <p class="text-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequatur cum dignissimos distinctio eius eveniet, fuga impedit ipsa laborum, magnam, nemo quia quo recusandae saepe similique sit sunt! Non, quas.
            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque minima mollitia tempora! Amet, aspernatur assumenda eius illum in itaque maiores nobis odio perferendis quaerat, quidem reiciendis repellendus tempora vitae voluptatum!
            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab commodi consequuntur deserunt dolor, error eum, fugit illo in ipsum nesciunt numquam praesentium provident quaerat recusandae saepe vel voluptatem voluptates, voluptatum?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab animi atque autem et ex, fugiat laudantium magnam nesciunt ratione repudiandae sunt tempora temporibus vel voluptas. Blanditiis consequatur dolorem vel?
        </p>
        <embed src="{{ asset('src/PID.pdf') }}" width="800px" height="2100px" />
    </div>
{% endblock %}
