{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <style>
        .card {
            margin-bottom: 10px;
        }
    </style>

    <h2>Next shows</h2>
<div class="row">

    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Show Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">by John Doe</h6>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aliquid, corporis cupiditate debitis deleniti doloremque eius expedita fugiat, ipsum iure modi natus placeat quasi, saepe suscipit tempore. Quaerat, voluptatibus.</p>
                <a href="#" class="card-link">Book</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Show Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">by John Doe</h6>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aliquid, corporis cupiditate debitis deleniti doloremque eius expedita fugiat, ipsum iure modi natus placeat quasi, saepe suscipit tempore. Quaerat, voluptatibus.</p>
                <a href="#" class="card-link">Book</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Show Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">by John Doe</h6>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aliquid, corporis cupiditate debitis deleniti doloremque eius expedita fugiat, ipsum iure modi natus placeat quasi, saepe suscipit tempore. Quaerat, voluptatibus.</p>
                <a href="#" class="card-link">Book</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Show Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">by John Doe</h6>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aliquid, corporis cupiditate debitis deleniti doloremque eius expedita fugiat, ipsum iure modi natus placeat quasi, saepe suscipit tempore. Quaerat, voluptatibus.</p>
                <a href="#" class="card-link">Book</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Show Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">by John Doe</h6>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aliquid, corporis cupiditate debitis deleniti doloremque eius expedita fugiat, ipsum iure modi natus placeat quasi, saepe suscipit tempore. Quaerat, voluptatibus.</p>
                <a href="#" class="card-link">Book</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Show Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">by John Doe</h6>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aliquid, corporis cupiditate debitis deleniti doloremque eius expedita fugiat, ipsum iure modi natus placeat quasi, saepe suscipit tempore. Quaerat, voluptatibus.</p>
                <a href="#" class="card-link">Book</a>
            </div>
        </div>
    </div>

</div>
{% endblock %}
