{% extends 'base.html.twig' %}

{% block title %}Shows{% endblock %}


{% block body %}
<div class="container-fluid">

    <h1 class ="my-3" align="center">Tous nos spectacles</h1>

    <div class="row">
        {% for show in shows | reverse %}
            {% include 'show/_sh.html.twig' %}
        {% endfor %}
    </div>

{% endblock %}
