{% extends 'base.html.twig' %}

{% block title %}Shows{% endblock %}


{% block body %}
<div class="container">

    <h1 class ="my-3" align="center">Tous nos spectacles</h1>


    <div class="row">


    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ url('artist_add') }}" class="btn btn-success"><i class="fa fa-plus"></i> New</a>
    {% endif %}

    <div class="row">
        {% for show in shows %}
            {% include 'show/_sh.html.twig' %}
        {% endfor %}
    </div>

{% endblock %}
