{% extends 'base.html.twig' %}

{% block title %}New Locations{% endblock %}


{% block body %}

    <style>
        .card {
            margin-bottom:20px;
        }
    </style>

    <div class="container-fluid" style="padding:20px">
        <div class="row">

        </div>
    </div>






{% endblock %}
