{% extends 'base.html.twig' %}

{% block title %}New Artist{% endblock %}

{% block page_title %}Add an artist{% endblock %}

{% block body %}

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button class="btn btn-success">Create</button>

    {{ form_end(form) }}

{% endblock %}
