{% extends 'base.html.twig' %}

{% block title %}{{ artist.firstname }} {{ artist.lastname }}{% endblock %}

{% block body %}

        <h2>{{ artist.firstname }} {{ artist.lastname }}</h2>

        {% if is_granted('ROLE_ADMIN') %}
            ...
        {% endif %}

{% endblock %}
